/* De estilo */
h2 {font-size: 20px;}

hr { margin: 40px 0px; }

.block {
  display: flex;
  padding: 20px;
}

/* Ejercicio Pseudo clases */

.pseudo a:hover {
  color: black !important;
  background-color: var(--decoration-color) !important;
}

.pseudo ul li:first-child {
  color: var(--decoration-color) !important;
}
